In [9]:
#import packages
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import regex as re

from sklearn.mixture import GaussianMixture

In [41]:
#load the data
path = os.getcwd()
#load big boards
df_2016 = pd.read_csv(os.path.join(path, 'data\\big_boards\\2016_big_board.csv'))
df_2016 = df_2016.drop('Unnamed: 0', axis=1)
df_2016 = df_2016.loc[df_2016['Rank'] < 108]
df_2017 = pd.read_csv(os.path.join(path, 'data\\big_boards\\2017_big_board.csv'))
df_2017 = df_2017.drop('Unnamed: 0', axis=1)
df_2017 = df_2017.loc[df_2017['Rank'] < 108]
df_2018 = pd.read_csv(os.path.join(path, 'data\\big_boards\\2018_big_board.csv'))
df_2018 = df_2018.drop('Unnamed: 0', axis=1)
df_2018['Position'] = df_2018['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2018 = df_2018.loc[df_2018['Rank'] < 108]
df_2019 = pd.read_csv(os.path.join(path, 'data\\big_boards\\2019_big_board.csv'))
df_2019 = df_2019.drop('Unnamed: 0', axis=1)
df_2019['Position'] = df_2019['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2019 = df_2019.loc[df_2019['Rank'] < 108]
df_2020 = pd.read_csv(os.path.join(path, 'data\\big_boards\\2020_big_board.csv'))
df_2020 = df_2020.drop('Unnamed: 0', axis=1)
df_2020['Position'] = df_2020['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2020 = df_2020.loc[df_2020['Rank'] < 108]
df_2021 = pd.read_csv(os.path.join(path, 'data\\big_boards\\2021_big_board.csv'))
df_2021 = df_2021.drop('Unnamed: 0', axis=1)
df_2021['Position'] = df_2021['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2021 = df_2021.loc[df_2021['Rank'] < 108]
df_2022 = pd.read_csv(os.path.join(path, 'data\\big_boards\\2022_big_board.csv'))
df_2022 = df_2022.drop('Unnamed: 0', axis=1)
df_2022['Position'] = df_2022['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2022 = df_2022.loc[df_2022['Rank'] < 108]
df_2023 = pd.read_csv(os.path.join(path, 'data\\big_boards\\2023_big_board.csv'))
df_2023 = df_2023.drop('Unnamed: 0', axis=1)
df_2023['Position'] = df_2023['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2023 = df_2023.loc[df_2023['Rank'] < 108]
#load the draft value charts
df_otc = pd.read_csv(os.path.join(path, 'data\\trade_value_charts\\fitzgerald-spielberger_trade_value_chart.csv'))
#load pfr roster data
df_roster = pd.read_csv(os.path.join(path, 'data\\player_value\\pfr_av_only.csv'))

In [12]:
df_roster.head(10)

  pfr_player_id  rookie_season  year  age   tm pos    no   g  gs    av awards
0      AikmTr00           1989  1999   33  DAL  QB   8.0  14  14  10.0    NaN
1      AikmTr00           1989  2000   34  DAL  QB   8.0  11  11   4.0    NaN
2      BankTo00           1996  1999   26  BAL  QB  12.0  12  10   7.0    NaN
3      BankTo00           1996  2000   27  BAL  QB  12.0  11   8   5.0    NaN
4      BankTo00           1996  2001   28  WAS  QB  12.0  15  14   8.0    NaN
5      BankTo00           1996  2003   30  HOU  QB  12.0   7   3   2.0    NaN
6      BankTo00           1996  2004   31  HOU  QB  12.0   5   0   0.0    NaN
7      BankTo00           1996  2005   32  HOU  QB  12.0   2   0   1.0    NaN
8      BatcCh00           1998  1999   25  DET  QB  10.0  11  10   7.0    NaN
9      BatcCh00           1998  2000   26  DET  QB  10.0  15  15   9.0    NaN

In [59]:
df_roster.loc[df_roster.pfr_player_id.str.startswith('Tuns')]

,pfr_player_id,rookie_season,year,age,tm,pos,no,g,gs,av,awards,ID
23171,TunsLa00,2016,2016,22,MIA,LG,67.0,14,14,6.0,NaN,TunsLa2016
23172,TunsLa00,2016,2017,23,MIA,LT,67.0,15,15,6.0,NaN,TunsLa2016
23173,TunsLa00,2016,2018,24,MIA,LT,78.0,15,15,6.0,NaN,TunsLa2016
23174,TunsLa00,2016,2019,25,HOU,LT,78.0,14,14,10.0,PB,TunsLa2016
23175,TunsLa00,2016,2020,26,HOU,LT,78.0,14,14,10.0,PB,TunsLa2016
23176,TunsLa00,2016,2021,27,HOU,LT,78.0,5,5,2.0,NaN,TunsLa2016
23177,TunsLa00,2016,2022,28,HOU,OL,78.0,17,17,8.0,PB,TunsLa2016

In [55]:
df_roster['ID'] = df_roster['pfr_player_id'].str[:-2] + df_roster['rookie_season'].astype('str')

In [67]:
df_2016['First Name'] = df_2016['Name'].apply(lambda x: re.sub(' .*', '', x))
df_2016['Last Name'] = df_2016['Name'].apply(lambda x: re.sub('.* ', '', x))
df_2016['Year'] = 2016

In [61]:
df_2016['ID'] = df_2016['Last Name'].str[:4] + df_2016['First Name'].str[:2] + df_2016['Year'].astype('str')

In [63]:
df_test = df_2016.merge(df_roster, how = 'left', on = 'ID')

In [64]:
df_test.head(20)

,Rank,Position,Name,BR,ESPN,NFL,PFF,SBN,SI,USA,...,rookie_season,year,age,tm,pos,no,g,gs,av,awards
0,1,OT,Laremy Tunsil,4,2,1,5,2,3,1,...,2016.0,2016.0,22.0,MIA,LG,67.0,14.0,14.0,6.0,NaN
1,1,OT,Laremy Tunsil,4,2,1,5,2,3,1,...,2016.0,2017.0,23.0,MIA,LT,67.0,15.0,15.0,6.0,NaN
2,1,OT,Laremy Tunsil,4,2,1,5,2,3,1,...,2016.0,2018.0,24.0,MIA,LT,78.0,15.0,15.0,6.0,NaN
3,1,OT,Laremy Tunsil,4,2,1,5,2,3,1,...,2016.0,2019.0,25.0,HOU,LT,78.0,14.0,14.0,10.0,PB
4,1,OT,Laremy Tunsil,4,2,1,5,2,3,1,...,2016.0,2020.0,26.0,HOU,LT,78.0,14.0,14.0,10.0,PB
5,1,OT,Laremy Tunsil,4,2,1,5,2,3,1,...,2016.0,2021.0,27.0,HOU,LT,78.0,5.0,5.0,2.0,NaN
6,1,OT,Laremy Tunsil,4,2,1,5,2,3,1,...,2016.0,2022.0,28.0,HOU,OL,78.0,17.0,17.0,8.0,PB
7,2,LB,Myles Jack,2,8,2,6,4,2,4,...,2016.0,2016.0,21.0,JAX,RLB,44.0,16.0,10.0,5.0,NaN
8,2,LB,Myles Jack,2,8,2,6,4,2,4,...,2016.0,2017.0,22.0,JAX,RLB,44.0,16.0,16.0,9.0,NaN
9,2,LB,Myles Jack,2,8,2,6,4,2,4,...,2016.0,2018.0,23.0,JAX,MLB,44.0,16.0,16.0,10.0,NaN
10,2,LB,Myles Jack,2,8,2,6,4,2,4,...,2016.0,2019.0,24.0,JAX,MLB,44.0,11.0,11.0,5.0,NaN
11,2,LB,Myles Jack,2,8,2,6,4,2,4,...,2016.0,2020.0,25.0,JAX,LLB,44.0,14.0,14.0,6.0,NaN
12,2,LB,Myles Jack,2,8,2,6,4,2,4,...,2016.0,2021.0,26.0,JAX,RILB,44.0,15.0,15.0,6.0,NaN
13,2,LB,Myles Jack,2,8,2,6,4,2,4,...,2016.0,2022.0,27.0,PIT,LB,51.0,15.0,13.0,6.0,NaN
14,3,CB,Jalen Ramsey,1,3,8,3,3,1,3,...,2016.0,2016.0,22.0,JAX,RCB,20.0,16.0,16.0,8.0,AP DRoY-2
15,3,CB,Jalen Ramsey,1,3,8,3,3,1,3,...,2016.0,2017.0,23.0,JAX,LCB,20.0,16.0,16.0,15.0,"AP1, PB"
16,3,CB,Jalen Ramsey,1,3,8,3,3,1,3,...,2016.0,2018.0,24.0,JAX,LCB,20.0,16.0,16.0,10.0,PB
17,3,CB,Jalen Ramsey,1,3,8,3,3,1,3,...,2016.0,2019.0,25.0,JAX,DB,20.0,3.0,3.0,1.0,PB
18,3,CB,Jalen Ramsey,1,3,8,3,3,1,3,...,2016.0,2019.0,25.0,LAR,RCB,20.0,9.0,8.0,8.0,PB
19,3,CB,Jalen Ramsey,1,3,8,3,3,1,3,...,2016.0,2020.0,26.0,LAR,RCB,20.0,15.0,15.0,15.0,"AP1, PB"

In [66]:
len(df_test['Name'].unique())

107

Limit analysis to day 1 and 2 picks (rounds 1-3), because nfl doesn't take day 3 seriously.

In [103]:
df_2016 = df_2016.loc[df_2016['Rank'] < 108]
vals = np.array(df_2016[['Avg']])
gm = GaussianMixture(n_components=21, random_state=32).fit(vals)

In [104]:
df_2016['Cluster'] = gm.predict(vals)
df_2016.head(20)

,Rank,Position,Name,BR,ESPN,NFL,PFF,SBN,SI,USA,WF,Yahoo,SD,Avg,Cluster
0,1,OT,Laremy Tunsil,4,2,1,5,2,3,1,1,4,1.5,2.56,16
1,2,LB,Myles Jack,2,8,2,6,4,2,4,2,1,2.3,3.44,16
2,3,CB,Jalen Ramsey,1,3,8,3,3,1,3,11,3,3.3,4.00,16
3,4,RB,Ezekiel Elliott,8,4,5,7,7,4,2,4,2,2.2,4.78,16
4,5,ED,Joey Bosa,6,1,14,1,1,8,5,7,5,4.2,5.33,16
5,6,ED,DeForest Buckner,7,6,3,2,6,6,27,3,10,7.6,7.78,3
6,7,OT,Ronnie Stanley,11,5,6,16,8,5,31,12,9,8.2,11.44,14
7,8,IDL,Sheldon Rankins,14,12,27,8,15,11,7,13,6,6.3,12.56,14
8,9,CB,Vernon Hargreaves III,10,23,11,18,10,13,15,6,11,5.0,13.00,14
9,10,QB,Jared Goff,5,11,12,4,5,14,42,15,22,11.8,14.44,14
10,11,ED,Shaq Lawson,15,17,30,11,18,15,6,17,15,6.4,16.00,14
11,12,QB,Carson Wentz,9,10,23,14,9,7,54,5,23,15.3,17.11,14
12,13,WR,Laquon Treadwell,21,14,16,28,14,10,11,33,12,8.0,17.67,14
13,14,LB,Reggie Ragland,26,18,9,26,16,20,20,10,39,9.2,20.44,6
14,15,LB,Leonard Floyd,25,9,13,19,24,40,39,8,20,11.6,21.89,6
15,16,WR,Corey Coleman,18,20,37,9,29,17,28,39,8,11.2,22.78,6
16,17,WR,Josh Doctson,17,15,53,10,19,26,26,34,13,13.3,23.67,6
17,18,IDL,Jarran Reed,27,19,26,20,17,39,21,28,28,6.7,25.00,17
18,19,ED,Noah Spence,13,56,24,36,21,12,8,43,24,15.9,26.33,17
19,20,IDL,Andrew Billings,21,45,21,22,44,23,30,24,7,11.9,26.33,17

In [100]:
df_agg = df_2016.groupby(['Cluster'])['Cluster'].count()
df_agg

Cluster
0      5
1      6
2      5
3     10
4      1
5      8
6      4
7      8
8      4
9     10
10     4
11    11
12    31
Name: Cluster, dtype: int64

In [111]:
df_2017 = df_2017.loc[df_2017['Rank'] < 108]
vals = np.array(df_2017[['Avg']])
gm = GaussianMixture(n_components=20, random_state=32).fit(vals)

In [112]:
df_2017['Cluster'] = gm.predict(vals)
df_2017.head(20)

,Rank,Position,Name,BR,DT,ESPN,FOX,NFL,PFF,SBN,WF,Yahoo,SD,Avg,Cluster
0,1,ED,Myles Garrett,1,1,1,1,1,1,1,1,1,0.0,1.00,7
1,2,S,Jamal Adams,4,3,2,7,12,6,3,5,5,3.0,5.22,7
2,3,IDL,Jonathan Allen,8,10,5,3,11,2,2,4,6,3.4,5.67,7
3,4,CB,Marshon Lattimore,10,6,6,4,5,4,5,11,4,2.6,6.11,7
4,5,ED,Solomon Thomas,5,2,3,5,4,10,6,19,3,5.3,6.33,7
5,6,RB,Leonard Fournette,2,5,4,13,2,23,8,3,2,7.0,6.89,7
6,7,S,Malik Hooker,6,4,10,15,8,8,4,2,7,3.9,7.11,7
7,8,TE,O.J. Howard,7,8,7,2,7,18,12,6,10,4.5,8.56,7
8,9,LB,Reuben Foster,3,15,8,6,18,5,9,29,8,8.2,11.22,2
9,10,WR,Mike Williams,12,9,12,9,13,11,10,13,14,1.8,11.44,2
10,11,LB,Haason Reddick,16,18,11,11,15,20,19,â€“,12,3.6,15.25,15
11,12,WR,Corey Davis,15,14,15,10,30,7,11,30,13,8.3,16.11,15
12,13,QB,Mitchell Trubisky,14,12,27,16,3,13,15,38,16,10.0,17.11,15
13,14,RB,Dalvin Cook,43,20,17,23,9,9,7,7,20,11.5,17.22,15
14,15,ED,Derek Barnett,25,7,13,24,33,3,13,21,18,9.4,17.44,15
15,16,RB JR.,Christian McCaffrey,19,13,9,17,36,16,22,17,9,8.2,17.56,15
16,17,WR,John Ross,24,16,20,12,21,19,20,20,15,3.6,18.56,15
17,18,TE,David Njoku,13,27,14,21,16,31,29,16,19,6.8,20.67,9
18,19,ED,Taco Charlton,21,25,38,18,10,28,25,8,24,9.2,21.89,9
19,20,OT,Ryan Ramczyk,26,19,30,19,23,22,18,25,23,3.9,22.78,9

In [84]:
df_agg = df_2017.groupby(['Cluster'])['Cluster'].count()
df_agg

Cluster
0      3
1      6
2      2
3      6
4      3
5      9
6      9
7      8
8      3
9      8
10     3
11     4
12     7
13     3
14     4
15     7
16    11
17     4
18     3
19     4
Name: Cluster, dtype: int64

In [119]:
df_2023 = df_2023.loc[df_2023['Rank'] < 108]
for i in range(len(df_2023.columns)):
    if i < 3:
        continue
    elif i > 12:
        continue
    else:
        df_2023.iloc[:, i] = np.where(df_2023.iloc[:, i] == 'â€“', df_2023['Avg'], df_2023.iloc[:, i])
cols = [col for col in df_2023.columns if col not in ['Rank', 'Position', 'Name', 'SD', 'Avg']]
vals = np.array(df_2023[['Avg']])
gms = GaussianMixture(n_components=20, random_state=32).fit(vals)
gms.means_ = np.array(sorted(gms.means_))
gms.means_

array([[  3.4000077 ],
       [  8.9600017 ],
       [ 14.44904179],
       [ 18.7781092 ],
       [ 24.13180964],
       [ 30.62168413],
       [ 37.10578415],
       [ 42.36960785],
       [ 46.24115636],
       [ 49.88497935],
       [ 55.2851674 ],
       [ 60.17917442],
       [ 66.90089107],
       [ 71.13834785],
       [ 80.42510599],
       [ 89.31725769],
       [ 99.10884369],
       [107.88127127],
       [115.47661953],
       [117.24067946]])

In [120]:
df_2023['Cluster'] = gms.predict(vals)
df_2023.head(20)

,Rank,Position,Name,BR,Buzz,CBS,TDN,DT,ESPN,PFF,SI,Tank,WF,SD,Avg,Cluster
0,1,ED,Will Anderson Jr.,1,2,1,1,1,4,3,2,1,3,1.1,1.90,0
1,2,QB,Bryce Young,16,1,2,4,3,1,1,3,2,2,4.5,3.50,0
2,3,QB,C.J. Stroud,6,3,4,5,2,3,5,5,3,4,1.2,4.00,0
3,4,IDL,Jalen Carter,2,4,3,3,11,5,2,1,5,6,2.9,4.20,0
4,5,RB,Bijan Robinson,4,7,10,2,4,2,27,4,18,1,8.4,7.90,1
5,6,OT,Peter Skoronski,9,5,11,14,8,8,8,6,11,5,2.9,8.50,1
6,7,ED,Tyree Wilson,18,11,6,9,7,6,9,7,4,8,3.9,8.50,1
7,8,CB,Devon Witherspoon,8,8,8,16,14,7,7,9,8,14,3.4,9.90,1
8,9,CB,Christian Gonzalez,15,12,7,6,9,9,11,12,7,12,2.9,10.00,1
9,10,OT,Paris Johnson Jr.,17,16,14,10,6,16,19,19,10,9,4.6,13.60,2
10,11,WR,Quentin Johnston,11,9,13,11,22,26,10,10,19,10,6.0,14.10,2
11,12,CB,Joey Porter Jr.,10,14,12,13,10,18,18,21,15,15,3.6,14.60,2
12,13,WR,Jaxon Smith-Njigba,13,10,21,12,13,19,12,23,12,11,4.6,14.60,2
13,14,ED,Myles Murphy,3,6,19,8,19,23,23,8,17,22,7.7,14.80,2
14,15,QB,Anthony Richardson,7,31,9,19,5,10,6,16,6,41,12.2,15.00,2
15,16,QB,Will Levis,24,27,5,21,15,15,4,18,9,33,9.5,17.10,3
16,17,ED,Lukas Van Ness,21,26,15,28,12,11,14,20,13,20,5.9,18.00,3
17,18,OT,Broderick Jones,19,17,22,7,18,13,26,31,14,18.56,7.2,18.56,3
18,19,ED,Nolan Smith,12,20,18,17,16,12,22,14,16,51,11.4,19.80,3
19,20,TE,Michael Mayer,5,18,28,15,17,20,28,24,25,24,7.0,20.40,3

In [121]:
df_agg = df_2023.groupby(['Cluster'])['Cluster'].count()
df_agg

Cluster
0      4
1      5
2      6
3      5
4      3
5      8
6      3
7      5
8      6
9      4
10     7
11     3
12     7
13     4
14     5
15    12
16     2
17     8
18     6
19     4
Name: Cluster, dtype: int64