In [27]:
import matplotlib.pyplot as plt
import pandas as pd
import os
import regex as re

In [30]:
path = os.getcwd()
df_2016 = pd.read_csv(os.path.join(path, 'big_boards\\2016_big_board.csv'))
df_2016 = df_2016.drop('Unnamed: 0', axis=1)
df_2017 = pd.read_csv(os.path.join(path, 'big_boards\\2017_big_board.csv'))
df_2017 = df_2017.drop('Unnamed: 0', axis=1)
df_2018 = pd.read_csv(os.path.join(path, 'big_boards\\2018_big_board.csv'))
df_2018 = df_2018.drop('Unnamed: 0', axis=1)
df_2018['Position'] = df_2018['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2019 = pd.read_csv(os.path.join(path, 'big_boards\\2019_big_board.csv'))
df_2019 = df_2019.drop('Unnamed: 0', axis=1)
df_2019['Position'] = df_2019['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2020 = pd.read_csv(os.path.join(path, 'big_boards\\2020_big_board.csv'))
df_2020 = df_2020.drop('Unnamed: 0', axis=1)
df_2020['Position'] = df_2020['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2021 = pd.read_csv(os.path.join(path, 'big_boards\\2021_big_board.csv'))
df_2021 = df_2021.drop('Unnamed: 0', axis=1)
df_2021['Position'] = df_2021['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2022 = pd.read_csv(os.path.join(path, 'big_boards\\2022_big_board.csv'))
df_2022 = df_2022.drop('Unnamed: 0', axis=1)
df_2022['Position'] = df_2022['Position'].apply(lambda x: re.sub(' .*', '', x))
df_2023 = pd.read_csv(os.path.join(path, 'big_boards\\2023_big_board.csv'))
df_2023 = df_2023.drop('Unnamed: 0', axis=1)
df_2023['Position'] = df_2023['Position'].apply(lambda x: re.sub(' .*', '', x))

In [16]:
df_2016.head(10)

,Rank,Position,Name,BR,ESPN,NFL,PFF,SBN,SI,USA,WF,Yahoo,SD,Avg
0,1,OT,Laremy Tunsil,4,2,1,5,2,3,1,1,4,1.5,2.56
1,2,LB,Myles Jack,2,8,2,6,4,2,4,2,1,2.3,3.44
2,3,CB,Jalen Ramsey,1,3,8,3,3,1,3,11,3,3.3,4.00
3,4,RB,Ezekiel Elliott,8,4,5,7,7,4,2,4,2,2.2,4.78
4,5,ED,Joey Bosa,6,1,14,1,1,8,5,7,5,4.2,5.33
5,6,ED,DeForest Buckner,7,6,3,2,6,6,27,3,10,7.6,7.78
6,7,OT,Ronnie Stanley,11,5,6,16,8,5,31,12,9,8.2,11.44
7,8,IDL,Sheldon Rankins,14,12,27,8,15,11,7,13,6,6.3,12.56
8,9,CB,Vernon Hargreaves III,10,23,11,18,10,13,15,6,11,5.0,13.00
9,10,QB,Jared Goff,5,11,12,4,5,14,42,15,22,11.8,14.44

In [17]:
df_2017.head(10)

,Rank,Position,Name,BR,DT,ESPN,FOX,NFL,PFF,SBN,WF,Yahoo,SD,Avg
0,1,ED,Myles Garrett,1,1,1,1,1,1,1,1,1,0.0,1.00
1,2,S,Jamal Adams,4,3,2,7,12,6,3,5,5,3.0,5.22
2,3,IDL,Jonathan Allen,8,10,5,3,11,2,2,4,6,3.4,5.67
3,4,CB,Marshon Lattimore,10,6,6,4,5,4,5,11,4,2.6,6.11
4,5,ED,Solomon Thomas,5,2,3,5,4,10,6,19,3,5.3,6.33
5,6,RB,Leonard Fournette,2,5,4,13,2,23,8,3,2,7.0,6.89
6,7,S,Malik Hooker,6,4,10,15,8,8,4,2,7,3.9,7.11
7,8,TE,O.J. Howard,7,8,7,2,7,18,12,6,10,4.5,8.56
8,9,LB,Reuben Foster,3,15,8,6,18,5,9,29,8,8.2,11.22
9,10,WR,Mike Williams,12,9,12,9,13,11,10,13,14,1.8,11.44

In [31]:
df_2018.head(10)

,Rank,Position,Name,BR,CBS,TDN,DT,ESPN,NBC,NFL,PFF,SI,USA,WF,Yahoo,SD,Avg
0,1,RB,Saquon Barkley,1,6,2,2,1,3,1,11,1,1,1,2,3.0,2.67
1,2,OG,Quenton Nelson,3,3,1,8,3,2,2,4,4,2,2,4,1.8,3.17
2,3,ED,Bradley Chubb,2,1,4,3,2,5,3,13,3,3,3,5,3.1,3.92
3,4,LB,Roquan Smith,10,4,10,13,5,6,7,7,10,4,10,3,3.1,7.42
4,5,QB,Josh Rosen,8,16,7,4,9,1,15,6,8,8,14,1,4.9,8.08
5,6,S,Derwin James,11,2,11,12,7,4,12,5,16,5,5,7,4.2,8.08
6,7,S,Minkah Fitzpatrick,6,9,5,6,8,14,23,10,6,6,9,9,5.0,9.25
7,8,CB,Denzel Ward,9,13,18,7,6,12,9,9,9,14,12,15,3.5,11.08
8,9,QB,Sam Darnold,5,22,44,1,4,21,5,2,2,13,4,14,12.6,11.42
9,10,LB,Tremaine Edmunds,4,25,3,9,12,19,4,30,14,9,7,11,8.5,12.25

In [32]:
df_2019.head(10)

,Rank,Position,Name,ATH,BR,CBS,TDN,DT,ESPN,NBC,NFL,PFF,PFN,Ring,SI,USA,WF,Yahoo,SD,Avg
0,1,ED,Nick Bosa,1,2,1,2,1,1,5,2,2,3,2,1,2,2,2,1.0,1.93
1,2,IDL,Quinnen Williams,2,1,4,1,2,2,1,12,3,1,4,2,1,1,1,2.8,2.53
2,3,ED,Josh Allen,3,3,21,9,3,5,2,3,5,8,3,3,4,4,6,4.7,5.47
3,4,IDL,Ed Oliver,5,6,2,4,7,3,3,6,11,4,9,6,3,11,7,2.8,5.80
4,5,LB,Devin White,12,4,15,14,5,4,8,15,12,5,5,5,9,3,11,4.4,8.47
5,6,OT,Jonah Williams,4,8,3,10,16,17,7,11,4,7,16,15,7,29,12,6.8,11.07
6,7,TE,T.J. Hockenson,6,5,34,8,9,6,4,9,21,2,12,9,13,25,8,8.8,11.40
7,8,OT,Jawaan Taylor,14,25,26,5,6,10,16,4,15,6,7,14,19,9,15,6.9,12.73
8,9,QB,Kyler Murray,16,13,23,26,4,9,20,7,1,26,1,11,6,28,10,9.3,13.40
9,10,ED,Montez Sweat,7,12,14,23,11,22,13,5,46,17,8,7,15,5,5,10.6,14.00

In [33]:
df_2020.head(10)

,Rank,Position,Name,ATH,BR,CBS,TDN,DT,ESPN,NBC,...,PFF,PFN,Ring,SI,Tank,USA,WF,Yahoo,SD,Avg
0,1,ED,Chase Young,1,1,1,1,1,1,3,...,3,1,1,1,2,1,1,1,0.7,1.31
1,2,QB,Joe Burrow,2,2,4,2,2,2,1,...,1,8,2,2,1,2,13,2,3.1,3.13
2,3,CB,Jeff Okudah,3,3,2,3,6,5,5,...,4,4,5,3,4,5,3,3,1.2,3.75
3,4,LB,Isaiah Simmons,4,4,3,4,3,4,4,...,7,3,4,4,5,3,8,6,1.5,4.44
4,5,QB,Tua Tagovailoa,6,6,10,6,4,7,2,...,2,7,3,5,3,4,6,4,2.3,5.25
5,6,IDL,Derrick Brown,7,8,5,9,5,3,12,...,16,2,12,7,7,6,2,5,3.9,6.81
6,7,WR,CeeDee Lamb,9,12,6,7,9,10,7,...,6,14,6,9,11,10,7,9,2.3,8.69
7,8,WR,Jerry Jeudy,10,5,7,8,10,6,8,...,5,13,7,8,14,8,11,14,2.9,9.00
8,9,OT,Jedrick Wills Jr.,5,7,13,5,16,8,14,...,11,9,10,6,9,9,12,8,3.3,9.25
9,10,OT,Tristan Wirfs,8,10,12,10,7,15,6,...,9,5,8,11,6,11,18,10,4.2,10.38

In [34]:
df_2021.head(10)

,Rank,Position,Name,ATH,BR,Buzz,CBS,TDN,DT,ESPN,...,NFL,PFF,PFN,Ring,Tank,USA,WF,Yahoo,SD,Avg
0,1,QB,Trevor Lawrence,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0.0,1.00
1,2,TE,Kyle Pitts,2,2,2,4,3,5,2,...,2,5,4,3,4,2,2,2,1.1,2.88
2,3,OT,Penei Sewell,5,4,5,3,2,2,5,...,9,4,3,5,2,5,3,9,2.1,4.38
3,4,WR,Ja'Marr Chase,4,10,3,5,6,3,3,...,4,6,2,4,5,4,4,3,1.9,4.44
4,5,QB,Justin Fields,8,3,4,6,5,6,11,...,17,3,9,2,6,3,5,4,3.8,5.94
5,6,QB,Zach Wilson,3,7,10,2,9,4,4,...,13,2,5,10,3,13,14,8,4.1,7.31
6,7,WR,DeVonta Smith,9,5,6,9,13,9,6,...,3,7,7,6,11,11,7,14,3.0,8.06
7,8,WR,Jaylen Waddle,6,17,14,7,4,7,7,...,7,8,11,11,8,8,6,5,3.4,8.44
8,9,CB,Pat Surtain II,10,16,9,15,16,8,10,...,5,13,6,8,10,9,11,10,3.3,10.25
9,10,LB,Micah Parsons,12,19,7,8,8,12,16,...,6,9,8,12,14,6,23,7,4.9,11.31

In [35]:
df_2022.head(10)

,Rank,Position,Name,ATH,BR,Buzz,CBS,TDN,DT,ESPN,...,PFF,PFN,Ring,SI,Tank,USA,WF,Yahoo,SD,Avg
0,1,ED,Aidan Hutchinson,1,9,2,1,2,1,1,...,1,8,1,2,1,7,3,1,2.6,2.65
1,2,OT,Evan Neal,3,2,1,2,5,2,4,...,6,3,4,6,5,2,9,5,2.0,3.88
2,3,ED,Kayvon Thibodeaux,8,1,3,6,4,8,7,...,7,1,2,1,2,4,12,6,3.1,4.71
3,4,OT,Ikem Ekwonu,2,3,13,10,3,3,3,...,5,4,3,4,4,5,8,2,2.9,4.76
4,5,CB,Ahmad Gardner,5,11,5,3,10,4,5,...,4,7,5,7,6,3,4,4,2.2,5.65
5,6,S,Kyle Hamilton,6,7,9,4,1,5,9,...,8,2,13,3,7,1,11,3,3.6,5.65
6,7,CB,Derek Stingley Jr.,14,4,6,5,6,9,8,...,2,14,6,9,9,8,5,12,4.6,8.65
7,8,ED,Travon Walker,4,22,25,13,11,7,2,...,12,19,7,5,3,9,1,7,7.0,10.00
8,9,OT,Charles Cross,7,13,8,8,16,13,10,...,3,5,9,12,8,10,6,18,4.4,10.53
9,10,WR,Garrett Wilson,10,19,4,7,26,6,6,...,14,10,10,17,11,17,7,9,5.8,11.76

In [36]:
df_2023.head(10)

,Rank,Position,Name,BR,Buzz,CBS,TDN,DT,ESPN,PFF,SI,Tank,WF,SD,Avg
0,1,ED,Will Anderson Jr.,1,2,1,1,1,4,3,2,1,3,1.1,1.9
1,2,QB,Bryce Young,16,1,2,4,3,1,1,3,2,2,4.5,3.5
2,3,QB,C.J. Stroud,6,3,4,5,2,3,5,5,3,4,1.2,4.0
3,4,IDL,Jalen Carter,2,4,3,3,11,5,2,1,5,6,2.9,4.2
4,5,RB,Bijan Robinson,4,7,10,2,4,2,27,4,18,1,8.4,7.9
5,6,OT,Peter Skoronski,9,5,11,14,8,8,8,6,11,5,2.9,8.5
6,7,ED,Tyree Wilson,18,11,6,9,7,6,9,7,4,8,3.9,8.5
7,8,CB,Devon Witherspoon,8,8,8,16,14,7,7,9,8,14,3.4,9.9
8,9,CB,Christian Gonzalez,15,12,7,6,9,9,11,12,7,12,2.9,10.0
9,10,OT,Paris Johnson Jr.,17,16,14,10,6,16,19,19,10,9,4.6,13.6

In [37]:
df_otc = pd.read_csv(os.path.join(path, 'trade_value_charts\\fitzgerald-spielberger_trade_value_chart.csv'))

In [38]:
df_otc.head(10)

   Pick  Value
0     1   3000
1     2   2649
2     3   2443
3     4   2297
4     5   2184
5     6   2092
6     7   2014
7     8   1946
8     9   1887
9    10   1833

In [39]:
df_otc.loc[135:145]

     Pick  Value
135   136    510
136   137    507
137   138    503
138   139    499
139   140    496
140   141    492
141   142    489
142   143    485
143   144    481
144   145    478
145   146    474

In [40]:
df_otc.loc[174:185]

     Pick  Value
174   175    383
175   176    380
176   177    377
177   178    374
178   179    371
179   180    368
180   181    366
181   182    363
182   183    360
183   184    357
184   185    354
185   186    352

In [41]:
df_otc.loc[214:225]

     Pick  Value
214   215    278
215   216    276
216   217    274
217   218    271
218   219    269
219   220    267
220   221    264
221   222    262
222   223    260
223   224    258
224   225    255
225   226    253